<% content_for :title do %>
  Hi <%= @speaker.name %>,
<% end %>

<% content_for :body do %>
  <p>
    Thanks so much for your proposal, <strong><%= @proposal.title %></strong>.
    We couldn’t fit it into this year’s schedule, but we’re grateful you took the time to share your perspective with us.
  </p>

  <br/>

  <p>
    Thanks for being part of the community—and we hope you’ll join us at the event, in any way you can.
  </p>

  <br/>
<% end %>

<% content_for(:link) { proposal_url(@proposal) } %>
<% content_for(:link_label) { "View Proposal" } %>
