<% content_for :title do %>
  Thank You for Your Proposal
<% end %>

<% content_for :body do %>
  <p>
    We've received your proposal for Tropical on Rails: <strong><%= @proposal.title %></strong>. Our program committee will review it carefully.
  </p>

  <p>
    You can view or edit your proposal at any time by visiting your dashboard.
  </p>
<% end %>

<% content_for(:link) { proposal_url(@proposal) } %>
<% content_for(:link_label) { "Go to proposal" } %>
