<% content_for :title do %>
  You're on the waitlist!
<% end %>

<% content_for :body do %>
  <p>
    Your submission, <strong><%= @proposal.title %></strong>, has been added to the waitlist for the SF Ruby program.
    We'll notify you if a spot becomes available!
  </p>

  <p>
    Please, let us know if you're not interesting in being on the waitlist by replying to this email.
  </p>
<% end %>

<% content_for(:link) { proposal_url(@proposal) } %>
<% content_for(:link_label) { "View Proposal" } %>
