<% content_for :title do %>
  We're sorry, but your proposal was not accepted this time
<% end %>

<% content_for :body do %>
  <p>
    Your submission, <strong><%= @proposal.title %></strong>, has not been accepted to the SF Ruby program.
    We appreciate your interest and encourage you to apply again in the future.
  </p>

  <p>
    You can view your proposal details using the link below.
  </p>
<% end %>

<% content_for(:link) { proposal_url(@proposal) } %>
<% content_for(:link_label) { "View Proposal" } %>
