<% content_for :title do %>
  Hi <%= @speaker.name %>,
<% end %>

<% content_for :body do %>
  <p>
    We really appreciate your talk proposal, <strong><%= @proposal.title %></strong>. Right now, you’re on our waitlist—spots are tight, and your talk’s still in the running.
  </p>

  <br/>

  <p>
    We’ll be in touch if a slot opens up soon.
  </p>

  <br/>

  <p>
    Hope to see you at the conference one way or another!
  </p>

  <br/>
<% end %>

<% content_for(:link) { proposal_url(@proposal) } %>
<% content_for(:link_label) { "View Proposal" } %>
