/* Update this file to change the colors and the font */
@theme {
  --font-display: 'Martian Grotesk', 'sans-serif';

  /* https://oklch.com/#0.65,0.25,25,100 */
  --clr-primary-chroma: 0.25;
  --clr-primary-hue: 25;

  /* https://oklch.com/#0.65,0.17,250,100 */
  --clr-secondary-chroma: 0.17;
  --clr-secondary-hue: 250;
}
